@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
.text-gradient {
    background: -webkit-linear-gradient(24deg, #FA00FF, #2765C1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

ul li a::after {
    content: '';
    display: block;
    padding-bottom: 0.2rem;
    border-bottom: 0.2rem solid purple;
    transform: scaleX(0);
}

ul li a:hover::after {
    transform: scaleX(0.6);
    transition: 0.2s linear;
}
=======
#teknologi {
  background: url("../assets/img/Background.png") no-repeat center center;
  background-size: cover;
}

.bg-custom {
  background: linear-gradient(to right, #313874 20%, #0d0404 60%, #231b7c 80%);
}
>>>>>>> 75e6fadb2145519d9f969df9daa4ee01bfc70a7f
