@tailwind base;
@tailwind components;
@tailwind utilities;

/* animasi navigation */
ul li a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.2rem solid purple;
  transform: scaleX(0);
}

ul li a:hover::after {
  transform: scaleX(0.6);
  transition: 0.2s linear;
}


.text-gradient {
    text-transform: uppercase;
   background-image: linear-gradient(
     -225deg,
     #5E1675 0%,
     #EE4266 29%,
     #FFD23F 67%,
     #337357 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   background-clip: text;
   text-fill-color: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
   display: inline-block;
 }

  .tilt-box {
    transform-style: preserve-3d;
  }

  .tilt {
    transform: translateZ(60px);
  }

#teknologi {
  background: url("../assets/img/Background.png") no-repeat center center;
  background-size: cover;
}

.bg-custom {
  background: linear-gradient(to right, #313874 20%, #0d0404 60%, #231b7c 80%);
}

.gradient-border {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right, #ff0000, #4d0fff) 1;

  padding: 10px;
}

#industri {
  background: url("../assets/img/Background.png") no-repeat center center;
  background-size: cover;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide-active {
  transform: scale(1.2);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-around;
  /* padding: 20px 0; */
  color: #9e70c8;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  text-decoration: none;
  font-size: 0.8em;
}

nav ul li a:hover {
  color: white;
}


/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.5s;
}

/* hamburger menu animasi */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
  transform: rotate(45deg) translate(-1px, -1px);
  background-color: white;
}

.menu-toggle input:checked ~ span:nth-child(4){
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0px);
}

.menu-toggle input:checked ~ span:nth-child(3){
  transform: scale(0);
  opacity: 0;
}

@media screen and (max-width: 768px) {
  nav ul {
      width: 50%;
  }
}

@media screen and (max-width: 780px) {
  .menu-toggle {
      display: flex;
  }

  nav ul {
      position: absolute;
      right: 0;
      top: 0;
      width: 80%;
      height: 100vh;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      z-index: -1;
      transform: translateX(100%);
      transition: all 1s;
  }

  nav ul.slide {
      transform: translateX(0);
  }
}