@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text-gradient {
  background: -webkit-linear-gradient(24deg, #fa00ff, #2765c1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul li a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.2rem solid purple;
  transform: scaleX(0);
}

ul li a:hover::after {
  transform: scaleX(0.6);
  transition: 0.2s linear;
}

#teknologi {
  background: url("../assets/img/Background.png") no-repeat center center;
  background-size: cover;
}

.bg-custom {
  background: linear-gradient(to right, #313874 20%, #0d0404 60%, #231b7c 80%);
}

.gradient-border {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right, #ff0000, #4d0fff) 1;

  padding: 10px;
}

#industri {
  background: url("../assets/img/Background.png") no-repeat center center;
  background-size: cover;
}

#kontak {
  background: url("../assets/img/Background.png") no-repeat center center;
  background-size: cover;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide-active {
  transform: scale(1.2);
}
